<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"> </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*Renders and minifes site css*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>





<body>
    <header id="mynav">
        <ul>
            @if (Session["UserName"] == null)
            {
                <li><a onclick="location.href='@Url.Action("Login","account")'" o class="active">Home</a></li>
            }
            @if (Session["UserName"] != null)
            {
                <li><a class="active" onclick="location.href='@Url.Action("SearchConsultants","account")'">Home Page</a></li>
                <li><a class="active" onclick="location.href='@Url.Action("SmartProfile","account")'">SmartForm</a></li>
                <li><a class="active" onclick="location.href='@Url.Action("ChangePassword","account")'">Change Password</a></li>


                <li class="rightfloat"><a id="signOutButton">Sign Out</a></li>
            }
        </ul>
    </header>





<div class="container body-content">
    @*all the views are rendered inside this div*@
    @RenderBody()
  @*<hr/>*@  
    @*layout footer*@
    <footer>
       
    </footer>
</div>
    @*renders and minifies scripts with the mvc bundles*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
