

<script>
  $(function () {

      $(".cardcarButton").click(function () {
            var carID = $(this).prev().val();
            var formData = { CarID: carID }; 
            $.ajax({
                url: "@Url.Action("CarBuyLogic", "Home")",
                type: "POST",
                data: formData,
                success: function (response) {
                    window.location.reload(true);
                },
                error: function (error) {
                    alert("Error");
                }
            })
        });
    });
</script>



<div class="containerofcars">

    @foreach (var car in ViewBag.ListOfCarToSell)
    {
        <div class="cardCar">
            <input  readonly hidden value="@car.CarID" />
        <div class="carProfile">
            <img id="PictureProfile" src="data:image/png;base64,@car.Picture" alt="Car">
        </div>
        <hr />
            <input  id="carID" name="CarID" value="@car.CarID" hidden />
        <div class="groupOfInput">
            <p class="textCar"> Model:</p>
           <input type="text" class="css-input" readonly value="@car.Model" />
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Color:</p>
            <input type="text" class="css-input" readonly value="@car.Color" />
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Gear:</p>
            <input type="text" class="css-input" readonly value="@car.Gear" />
        </div>
            <div class="groupOfInput">
                <p class="textCar"> Year:</p>
                <input type="text" class="css-input" readonly value="@car.Year" />
            </div>
            <div class="groupOfInput">
                <p class="textCar"> Engine:</p>
                <input type="text" class="css-input" readonly value="@car.EngineCapacity" />
            </div>

            <div class="groupOfInput">
                <p class="textCar"> Amount:</p>
                <input type="text" class="css-input" readonly value="@car.Inventory" />
            </div>
        <div class="groupOfInput">
            <p class="textCar"> Price:</p>
            <input type="text" class="css-input" readonly value="@car.Price" />
        </div>
            <input readonly hidden value="@car.CarID" />
        <button class="cardcarButton" type="submit" id="button" >Buy</button>
    </div>
       }
</div>