

<script>
  $(function () {

      $(".cardcarButton").click(function () {
          var carID = $(this).prev().val();
          var priceofcurrentcar = $(this).prev().prev().val();
          if(@ViewBag.Amount < priceofcurrentcar )
          {
              alert("Not enough money");
          }
          else
              {
            var formData = { CarID: carID, __RequestVerificationToken: gettoken() };
            $.ajax({
                url: "@Url.Action("CarBuyLogic", "Home")",
                type: "POST",
                data: formData,
                success: function (response) {
                    window.location.reload(true);
                },
                error: function (error) {
                    alert("Error");
                }
            })
          }
        });
    });
</script>

<script type="text/javascript">
    function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>

<div class="containerofcars">
    <div class="u-center divoflabelprice">
        <input value="Current Amount: @ViewBag.Amount$" type="text" id="pricelabel" />

    </div>
    @foreach (var car in ViewBag.ListOfCarToSell)
    {
        <div class="cardCar">
            
        <div class="carProfile">
            <img id="PictureProfile" src="data:image/png;base64,@car.Picture" alt="Car">
        </div>
        <hr />
            <input  id="carID" name="CarID" value="@car.CarID" hidden />
        <div class="groupOfInput">
            <p class="textCar"> Model:</p>
           <input type="text" class="css-input" readonly value="@car.Model" />
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Color:</p>
            <input type="text" class="css-input" readonly value="@car.Color" />
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Gear:</p>
            <input type="text" class="css-input" readonly value="@car.Gear" />
        </div>
            <div class="groupOfInput">
                <p class="textCar"> Year:</p>
                <input type="text" class="css-input" readonly value="@car.Year" />
            </div>
            <div class="groupOfInput">
                <p class="textCar"> Engine:</p>
                <input type="text" class="css-input" readonly value="@car.EngineCapacity" />
            </div>

            <div class="groupOfInput">
                <p class="textCar"> Amount:</p>
                <input type="text" class="css-input" readonly value="@car.Inventory" />
            </div>
        <div class="groupOfInput">
            <p class="textCar"> Price:</p>
            <input type="text" class="css-input" readonly value="@car.Price" />
        </div>
            <input readonly  hidden value="@car.Price" />
            <input readonly hidden value="@car.CarID" />
        <button class="cardcarButton" type="submit" id="button" >Buy</button>
    </div>
    }
</div>