
@{
    ViewBag.Title = "CarTrade";
}

<script>
    $(function () {

        $(".deleteA").click(function () {
            var PostID = $(this).prev().val();
            
 
            var formData = { PostiD: PostID, __RequestVerificationToken: gettoken() }; //Array
            $.ajax({
                url: "@Url.Action("DeleteCarTrade", "Home")",
                type: "POST",
            data: formData,
            success: function (response) {
                window.location.reload(true);
            },
            error: function (error) {
                alert("Error");
            }
        })
        });
    });


</script>

<script type="text/javascript">
    function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>
<a class="sellcarbutton" onclick="location.href='@Url.Action("PostCar", "home")'">Sell your car</a>
<div class="u-center divoflabelprice">
    <input value="Current Amount: @ViewBag.Amount$" type="text" id="pricelabel" />

</div>
<section class="contentcarTrade">

 


    <ol id="posts-list" class="hfeed">

       @foreach (var car in ViewBag.ListOfCarsTrade)
       {
        <li>
            <article class="hentry">
                <h2 id="subjectMessage" class="entry-title">Model:@car.Model</h2>
                <div class="WraptextTrade">
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Year:</p>
                        <input type="text" class="inputtradetxt" readonly value="@car.Year" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> EngineCapcity:</p>
                        <input type="text" class="inputtradetxt" readonly value="@car.EngineCapacity" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Gear:</p>
                        <input type="text" class="inputtradetxt" readonly value="@car.Gear" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Color:</p>
                        <input type="text" class="inputtradetxt" readonly value="@car.Color" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Price:</p>
                        <input type="text" class="inputtradetxt" readonly value="@car.Price" />
                    </div>
                    <div class="Wrapbuyanddelete">
                        @if ((string)car.UserName == (string)Session["UserName"])
                        {
                        <div class="deleteButtontrade ">
                            <input readonly hidden value="@car.PostID" />
                            <a class="deleteA" style="font-size:15px;"> Delete</a>
                        </div>
                        }
                        @if ((string)car.UserName != (string)Session["UserName"])
                        {
                        <div class="BuyButtonTrade">
                            <input readonly hidden value="@car.PostID" />
                            <a class="buyA" style="font-size:15px;"> Buy</a>
                        </div>
                        }
                    </div>
                 
                </div>

                <footer class="post-info">

                    <address class="vcard author">
                        Posted By: <a class="url fn" href="#">@car.UserName</a>
                        <div class="carimagetrade">
                            <img id="picture" src="data:image/*;base64,@car.Picture" alt="Picture car">
                        </div>
                    </address>
                </footer><!-- /.post-info -->


            </article>
        </li>
       }
       
    </ol>

</section>

<script>
  $(function () {

      $(".buyA").click(function () {
            var PostId = $(this).prev().val();
            var formData = { PostID: PostId, __RequestVerificationToken: gettoken() };
            $.ajax({
                url: "@Url.Action("BuyCarsFromUserLogic2", "Home")",
                type: "POST",
                data: formData,
                success: function (response) {
                    window.location.reload(true);
                },
                error: function (error) {
                    alert("Error");
                }
            })
        });
    });
</script>
