

<h2 class="Forumheader">Forum >@ViewBag.Topic </h2>

<script>
    function PostMessageValidate()
    {
        return true;
    }
    $(document).on('keyup keypress', 'input[type="text"]', function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
    $(function () {

        $(".deleteA").click(function () {
            var UniqueID = $(this).parent().prev().val();
         //   var tempUniqueID="@ViewBag.UniqueID";
 
            var formData = { i_UniqueID: UniqueID }; //Array
            $.ajax({
                url: "@Url.Action("DeleteMessage", "Home")",
                type: "POST",
                data: formData,
                success: function (response) {
                    window.location.reload(true);
                },
                error: function (error) {
                    alert("Error");
                }
            })
        });
    });
</script>


<div class="WrapperForum">

    <section class="contentForum">
        <ol id="posts-list" class="hfeed">
            @foreach (var message in ViewBag.ListOfMessages)
            {
                <li>
                    <article class="hentry">
                        <h2 id="subjectMessage" class="entry-title">@message.SubjectMessage</h2>
                        @{
                            <input name ="UniqueID" value="@message.UniqueID" hidden/>
                            if ((string)message.UserName == (string)Session["UserName"])
                            {
                                <div class="deleteButtonForum">
                                     <a class="deleteA" style="font-size:15px;"> Delete</a>
                                </div>
                            }
                        }
  
                        <footer class="post-info">
                            <abbr class="published" title="2005-10-10T14:07:00-07:00">
                                <!-- YYYYMMDDThh:mm:ss+ZZZZ -->
                                10th October 2005
                            </abbr>
                            <address class="vcard author">
                                By <a class="url fn" href="#">@message.UserName</a>
                            </address>
                        </footer><!-- /.post-info -->
                        <div class="entry-content">
                            <p>@message.Message</p>
                        </div><!-- /.entry-content -->

                    </article>
                </li>

            }
           
       

        </ol>

    </section>

    <hr class="style18" />
    <div class="boxHeader blurred-bg tinted">
        <div class="content">
            <h1 class="WellcomeHeader" cl>Crate New topic</h1>

        </div>
    </div>
@using (Html.BeginForm("PostMessage", "home", FormMethod.Post, new { Topic="Sport", onsubmit = "return PostMessageValidate()" }))
{
   
    <div id="form-main">
        <div id="form-div">
            <form class="" id=""> 
               
                <p class="name">
                    <input name="Subject" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Subject" id="name" />
                </p>

                <input name="Topic" value="@ViewBag.Topic" hidden />

                <p class="text">
                    <textarea name="Message" class="validate[required,length[6,300]] feedback-input textareaCrateTopic" id="comment" placeholder="Message"></textarea>
                </p>


                <div class="submit">
                    <input  type="submit" value="SEND" id="button-blue" />
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>  
}
</div>