@model Vladi2.Models.UserAccount
@{
    ViewBag.Title = "Register";
}

<script src='@Url.Content("~/Scripts/jquery-1.10.2.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'>         </script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>

<body>
    <div class="wrapper">
      
        @using (Html.BeginForm("Register", "home", FormMethod.Post))
        {

            @Html.EditorFor(model => model.Username, new { htmlAttributes = new {  placeholder = "Username", id = "username"} });
            @Html.ValidationMessageFor(model => model.Username);
            <br/>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", placeholder = "password", id = "password" } });
            @Html.ValidationMessageFor(model => model.Password);
            <br />
            <input placeholder="confirm password" type="password" name="ConfirmPassword"  id="passwordconfirm" required />
            if((ViewBag.errorConfirm)!=null)
            {
                <p>@ViewBag.errorConfirm</p>
            }
            <br/>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { type = "text", placeholder = "firstname", id = "firstname" } });
            @Html.ValidationMessageFor(model => model.FirstName);
            <br />
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { type = "text", placeholder = "lastname", id = "lastname"} });
            @Html.ValidationMessageFor(model => model.LastName);
            <br />
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "text", placeholder = "Email", id = "Email" } });
            @Html.ValidationMessageFor(model => model.Email);
            <br />
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { type = "text", placeholder = "Phonenumber", id = "Phonenumber" } });
            @Html.ValidationMessageFor(model => model.PhoneNumber);
            <br />
            
            <button type="submit">submit </button>
        }
        @if (ViewBag.ExistUsernameoremail != null)
        {
        <p>@ViewBag.ExistUsernameoremail</p>
        }
    </div>
</body>


